# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SubjectNetwork-Download\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
